plugins {
    id 'nf-slack'
}

manifest {
    name            = 'umbrella-corp/zombie-seq'
    author          = 'Umbrella Corporation'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.11.0'
    version         = '1.0dev'
}

slack {
    on_start = true
    notify_url = 'https://hooks.slack.com/'
    include_manifest = false
}
